{% extends "userdash_bbase.html" %}

{% block content %}
	<div class="row">
		<div class="span4"><h2>Nama Domain Email Anda</h2></div>
		<div class="span8 text-right">
			<a href="/dashboard-cust/add-domain-email" class="btn btn-large btn-secondary">Hubungkan Domain</a>
		</div>
	</div>
	<hr />

			Mengelola record MX dari domain. Record MX harus menunjuk ke server untuk menerima email untuk domain.<br />
			Hubungkan domain, MX record anda ke: 
			<ul>
				<li>server: mail.bsmsite.com</li>
				<li>Priority: 10</li>
			</ul>

		<section id="tables">
		<table class="table table-bordered table-striped table-highlight">
			<thead>
				<tr>
					<th>Nama Domain</th>
					<th>Keterangan</th>
				</tr>
			</thead>
			<tbody>
				{% for dom in domain %}
					<tr>
						<td>{{ dom.domain }}</td>
						<td>{{ dom.notes }}</td>
					</tr>
					{% empty %}
					<tr>
						<td colspan="2">Belum ada data yang tersedia</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</section>
{% endblock %}
