{% extends "userdash_bbase.html" %}

{% block content %}
<div class="row">
      
      <div class="span12">
        
        <div class="error-container">
          
          <h2>Password anda berhasil diganti</h2>
          
          <div class="error-details">
             Harap untuk menyimpan dan mengingat kata sandi anda dengan baik!<br />
            
          </div> <!-- /error-details -->
          
          <div class="error-actions">
            <a href="/dashboard-cust" class="btn btn-large btn-primary">
              <i class="fa fa-chevron-left"></i>
              &nbsp;
              Kembali ke Dashboard           
            </a>
            
            <a href="/dashboard-cust/support" class="btn btn-large">
              <i class="fa fa-ambulance"></i>
              &nbsp;
              Hubungi Bantuan           
            </a>
            
          </div> <!-- /error-actions -->
                
        </div> <!-- /.error-container -->       
        
        
      </div> <!-- /.span12 -->
      
    </div> <!-- /.row -->
{% endblock %}