{% extends "userdash_bbase.html" %}

{% block content %}
<div class="row">
	<div class="span4">
<i class="fa fa-money fa-2x"></i> <h1><i class="fa fa-usd"></i> {{ user_balance.balance }} USD</h1>
<p class="help-block"><strong>Note:</strong> Dana milik Anda.</p>
</div>
<div class="span8">

 <!-- Contact form -->
                                    <form id="contact-form" class="form-horizontal" action="/dashboard-cust/deposit-paypal" method="post">
                                   	{% csrf_token %}
                                    <fieldset>

									<div class="control-group">
									<label class="control-label" for="deposit">Jumlah Deposit</label>
									<div class="controls">
									<select id="deposit" name="deposit">
									<option value="1.00">$ 1.00 USD</option>
									<option value="2.00">$ 2.00 USD</option>
									<option value="3.00">$ 3.00 USD</option>
									<option value="4.00">$ 4.00 USD</option>
									<option value="5.00">$ 5.00 USD</option>
									<option value="10.00">$ 10.00 USD</option>
									<option value="15.00">$ 15.00 USD</option>
									<option value="25.00">$ 25.00 USD</option>
									<option value="50.00">$ 50.00 USD</option>
									<option value="100.00">$ 100.00 USD</option>
									</select>
									</div>
									</div>

									<div class="form-actions">
									<button type="submit" class="btn btn-primary btn-large"><i class="fa fa-star"></i> Deposit Via Paypal</button>
									</div>

                                          </fieldset>
                                      </form>
</div>
</div>
{% endblock %}