{% extends "userdash_bbase.html" %}

{% block content %}
	<div class="row">
		<div class="span4"><h2>Nama Domain Email Anda</h2></div>
		<div class="span8 text-right">
			<a href="/dashboard-cust/add-domain-email" class="btn btn-large btn-secondary">Hubungkan Domain</a>
		</div>
	</div>

	<hr />

	<section id="tables">
		<table class="table table-bordered table-striped table-highlight">
			<thead>
				<tr>
					<th>Nama Domain</th>
					<th>Keterangan</th>
					<th width="1%">Aksi</th>
				</tr>
			</thead>
			<tbody>
				{% for dom in domain %}
					<tr>
						<td>{{ dom.domain }}</td>
						<td>{{ dom.notes }}</td>
						<td nowrap="nowrap">
							<a href="/dashboard-cust/check-domain-dns/{{ dom.id }}"><span class="label label-primary">Cek&nbsp;DNS</span></a>
						</td>
					</tr>
					{% empty %}
					<tr>
						<td colspan="3">Belum ada data yang tersedia</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</section>
{% endblock %}
