{% extends "userdash_bbase.html" %}

{% block content %}
	<div class="row">
		<div class="span4"><h2>Menghubungkan Domain Anda</h2></div>
		<div class="span8">
			Mengelola record MX dari domain. Record MX anda harus menunjuk ke server untuk menerima email untuk domain.<br />
			Hubungkan domain, MX record anda ke: 
			<ul>
				<li>server: mail.bsmsite.com</li>
				<li>Priority: 10</li>
			</ul>
			Juga tambahkan CNAME Record mail.nama-domain-anda.com Anda menunjuk ke mail.bsmsite.com
			<ul>
				<li>mail.nama-domain-anda.com CNAME mail.bsmsite.com</li>
			</ul>
		</div>
	</div>

	<hr />
	<form action="/dashboard-cust/add-domain-email" method="post">
	{{ form.as_p}}
	{% csrf_token %}
		<div class="form-actions">
		<button type="submit" class="btn btn-primary btn-large"><i class="fa fa-star"></i> Hubungkan Domain</button>
		</div>
	</form>
{% endblock %}