{% extends "userdash_bbase.html" %}

{% block content %}

<div class="row">
			
			<div class="span12">
<h5>Buat User Email Baru</h5>
                                    {% if error %}<div class="alert alert-warning">{{ error }}</div>{% endif %}
                                    {% if berhasil %}<div class="alert alert-success">{{ berhasil }}</div>{% endif %}
                              
                                      <!-- Contact form -->
                                    <form id="contact-form" class="form-horizontal" action="/create-user-email" method="post">
                                   	{% csrf_token %}
                                    <fieldset>
									<div class="control-group">
									<label class="control-label" for="name">Username</label>
									<div class="controls">
									<input type="text" class="input-large" id="username" name="username" value="{{ username }}" required="required">
									</div>
									</div>

									<div class="control-group">
									<label class="control-label" for="domain">Domain</label>
									<div class="controls">
									<select id="domain" name="domain">
										{% for dom in domain %}
									<option value="{{ dom.id }}">{{ dom.domain }}</option>
									{% endfor %}
									</select>
									</div>
									</div>

                                    <div class="control-group">
									<label class="control-label" for="name">Password</label>
									<div class="controls">
									<input type="text" class="input-large" id="password" name="password" value="{{ password }}" required="required">
									</div>
									</div>

									<div class="control-group">
									<label class="control-label" for="domain">Quota</label>
									<div class="controls">
									<select id="quota" name="quota">
										{% for qta in quota %}
									<option value="{{ qta.id }}">{{ qta.title }}</option>
									{% endfor %}
									</select>
									</div>
									</div>

									<div class="control-group">
										<label class="control-label">Aktif</label>
											<div class="controls">
											<label class="checkbox">
											<input type="checkbox" name="active" value="True">
											Ya/Tidak
										</label>
											<p class="help-block"><strong>Note:</strong> Centang jika ingin mengaktifkan user.</p>
											</div>
									</div>
                                         
									<div class="form-actions">
									<button type="submit" class="btn btn-primary btn-large"><i class="icon-star"></i> Buat</button>
									</div>

                                          </fieldset>
                                      </form>
                    </div>
                    </div>                


{% endblock %}