{% extends "userdash_bbase.html" %}

{% block content %}
	<div class="row">
		<div class="span4"><h2>Daftar User Email Anda</h2></div>
		<div class="span8 text-right">
			<a href="/dashboard-cust/add-user-email" class="btn btn-large btn-secondary">Buat User Email Baru</a>
		</div>
	</div>

	<hr />

	<section id="tables">
		<table class="table table-bordered table-striped table-highlight">
			<thead>
				<tr>
					<th>Nama User</th>
					<th>Nama Domain</th>
					<th>Keterangan</th>
					<th>Password</th>
					<th>Quota</th>
					<th>Aktif</th>
					<th>Tanggal Mulai</th>
					<th>Tanggal Berakhir</th>
					<th>Aksi</th>
				</tr>
			</thead>
			
			<tbody>
				{% for usr in usermail %}
					<tr>
						<td>{{ usr.username }}</td>
						<td>{{ usr.domain }}</td>
						<td>{{ usr.domain.notes }}</td>
						<td>{{ usr.password }}</td>
						<td>{{ usr.quota }}</td>
						{% if usr.active == True %}
						<td><i class="fa fa-check"></i></td>
						{% else %}
						<td><i class="fa fa-times"></i></td>
						{% endif %}
						<td>{{ usr.date_begin }}</td>
						<td>{{ usr.date_expired }}</td>
						<td>
							<a href="/dashboard-cust/edit-user-email/{{ usr.id }}"><span class="label label-primary">Ganti Password</span></a>
						</td>
					</tr>
					{% empty %}
					<tr>
						<td colspan="9">Belum ada data yang tersedia</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</section>
{% endblock %}