{% extends "bbase.html" %}

{% block slider %}{% endblock %}

{% block content %}
<div class="content">
  <div class="container">

    <h2>Website</h2>
    <p class="big grey">Pembuatan Website.</p>
    <hr />


        <!-- List of products list. -->
                     
              

                     <div class="prod">
                        <div class="row">
                           <div class="col-md-8 col-sm-8">
                              <!-- Product title -->
                              <h3>Pembuatan Website</h3>
                              <!-- Product para -->
                              <p>
                              Website dapat diakses dari seluruh dunia sehingga dapat dilihat oleh calon konsumen selama 24 jam sehari, 365 hari setahun. Ratusan juta orang online setiap harinya untuk menggunakan email, chatting, mencari informasi, membeli produk di toko online, bahkan hiburan semata.</p>
                              <p>Mayoritas pengguna internet (kalangan muda dan pebisnis) akan berharap suatu perusahaan punya website. Sekarang sudah lazim orang berkata, "Produknya bagus, pengen lihat di internet." atau "Perusahaan apa itu, alamat websitenya mana?".
                              </p>
                              <p>
                                  Oleh sebab itu Kami memberikan solusi praktis bagi perancangan dan pengembangan website. Tujuan kami adalah membantu proses bisnis anda, yang ingin memanfaatkan situs web, sebagai sebuah media interaktif komunikasi global untuk kegiatan branding, publikasi, marketing dan komunikasi. Dengan itu mengaktualisasikan bisnis anda ke dunia internet adalah pilihan bijak bagi proses perkembangan bisnis anda.
                              </p>
                              <p>
                                  Situs Anda akan kami lengkapi dengan program-program untuk memaksimalkan fungsi website tersebut, untuk menjadikan situs website Anda lebih “hidup” sehingga bisa menjalin komunikasi antara pemilik dan pengelola situs dan pengunjungnya.
                              </p>
                              <!-- Product image -->
                              <div class="pimg">
                                 <a href="#"><img src="/media/portal-product/website.jpg" alt="" class="img-responsive"/></a>
                              </div>
                           </div>                        
                           <div class="col-md-4 col-sm-4"> 
                              <!-- Product details -->
                              <div class="pdetails">
                                 <div class="ptable">
                                    <!-- Product details with font awesome icon. Don't forget the span class "pull-right". -->
                                    <div class="pline"><i class="icon-gift"></i> Nama Produk <span class="pull-right">Website</span></div>
                                    <div class="pline"><i class="icon-cloud"></i> Installasi <span class="pull-right"><i class="icon-ok"></i></span></div>
                                    <div class="pline"><i class="icon-bullhorn"></i> Dukungan Online <span class="pull-right"><i class="icon-ok"></i></span></div>
                                    <div class="pline"><i class="icon-truck"></i> Harga <span class="pull-right">Call</span></div>
                                    <div class="clearfix"></div>
                                 </div>
                                 <!-- Buttons -->
                                 <div class="button center"><a href="/contact-us"><i class="icon-shopping-cart"></i> Pesan Sekarang</a>
                              </div>
                           </div>
                           <div class="clearfix"></div>
                        </div>
                     </div>
{% endblock %}