{% extends "bbase.html" %}

{% block slider %}{% endblock %}

{% block content %}
<div class="github-fork-ribbon-wrapper right">
  <div class="github-fork-ribbon">
    <a href="https://github.com/ayes/zamanda" target="_blank">Fork me on GitHub</a>
  </div>
</div>
<div class="content">
  <div class="container">

    <h2>Zamanda</h2>
    <p class="big grey">Zamanda Class dan Function PHP</p>
    <hr />

    <div class="row">

      <div class="col-md-12">

        <div class="center well">
          <h2>Zamanda Capsul</h2>
          <p>
          Zamanda Capsul adalah sebuah kerangka umum untuk php, dapat membantu Anda membuat situs lebih cepat menggunakan capsul tersebut. karena didasarkan pada kerangka zamanda dan ditulis oleh zamanda capsul.
          </p>
          <div class="button">
            <a href="https://github.com/ayes/zamanda/archive/master.zip">Download Sekarang</a>&nbsp;<a href="#">Baca Dokumentasi</a>
          </div>          
        </div>
        <hr />              

      </div>

    </div>
{% endblock %}