{% extends "bbase.html" %}

{% block slider %}{% endblock %}

{% block content %}
<div class="content">
  <div class="container">

    <h2>Mail Server</h2>
    <p class="big grey">Paket email server sangat cocok untuk perusahaan yang ingin memiliki email pribadi dengan domain sendiri.</p>
    <hr />


        <!-- List of products list. -->
                     
              

                     <div class="prod">
                              <!-- Product title -->
                              <h3>Mail Server</h3>
                              <!-- Product para -->
                              <p>Paket email server sangat cocok untuk perusahaan yang ingin memiliki email pribadi dengan domain sendiri. Dengan memiliki email sendiri secara otomatis akan menaikan citra perusahaan anda karena tidak menggunakan domain orang lain/gratisan seperti yahoo, gmail atau layanan email lainnya. Dengan layanan ini anda bisa memiliki alamat email seperti namaanda@perusahaananda.com. Hal ini sangat penting untuk membuktikan keseriusan perusahaan anda.
                              </p>                       
                     </div>



<h2>Tabel Harga Email</h2>
  <p class="big grey">Siap untuk bisnis.</p>
  <hr />

                    <!-- Pricing table -->                     
                     <!-- Price details. Note down the class name before you edit. -->
                     <div class="row">
                     
                        <div class="col-md-6">
                        
                           <!-- Add the class "phighlight" to highlight specific table -->
                           
                           <!-- Pricing table #1. Class name "price-a" -->
                           <div class="price-a pricel center">
                                 <div class="phead-top b-green">
                                    <!-- Title -->
                                    <h4>Starter</h4>
                                 </div>
                                 <div class="phead-bottom">
                                    <!-- Price. Use the syntax correctly. -->
                                    <p><span class="pst">$</span> 2.00 <span class="psb">/ 1 email / tahun</span></p>
                                 </div>
                                 <div class="arrow-down"></div>
                              <div class="plist">
                                 <!-- List -->
                                 <ul>
                                    <li>100 MB Space</li>
                                    <li>Free Support Online</li>
                                    <li>Aktivasi Instant</li>
                                 </ul>
                              </div>
                              <div class="pbutton button">  
                                 <!-- button -->
                                 <a href="/accounts/login?next=/dashboard-cust/email/domain" data-no-instant><i class="icon-shopping-cart"></i> Beli Sekarang</a>
                              </div>
                           </div>
                           
                           <!-- Pricing table #2. Class name "price-b" -->
                           <div class="price-b pricel center">
                                 <div class="phead-top b-purple">
                                    <h4>Standard</h4>
                                 </div>
                                 <div class="phead-bottom">
                                    <p><span class="pst">$</span> 3.00 <span class="psb">/ 1 email / tahun</span></p>
                                 </div>
                                 <div class="arrow-down"></div>
                              <div class="plist">
                                 <ul>
                                    <li>200 MB Space</li>
                                    <li>Free Support Online</li>
                                    <li>Aktivasi Instant</li>
                                 </ul>
                              </div>
                              <div class="pbutton button">  
                                 <!-- button -->
                                 <a href="/accounts/login?next=/dashboard-cust/email/domain" data-no-instant><i class="icon-shopping-cart"></i> Beli Sekarang</a>
                              </div>
                           </div>   
                                 
                           <div class="clearfix"></div>
                        </div>  
                        
                        <div class="col-md-6">
                        
                           <!-- Pricing table #3. Class name "price-a" -->
                           <div class="price-a pricel center">
                                 <div class="phead-top b-blue">
                                    <h4>Business</h4>
                                 </div>
                                 <div class="phead-bottom">
                                    <p><span class="pst">$</span> 5.00 <span class="psb">/ 1 email / tahun</span></p>
                                 </div>
                                 <div class="arrow-down"></div>
                              <div class="plist">
                                 <ul>
                                    <li>300 MB Space</li>
                                    <li>Free Support Online</li>
                                    <li>Aktivasi Instant</li>
                                 </ul>
                              </div>
                              <div class="pbutton button">  
                                 <!-- button -->
                                 <a href="/accounts/login?next=/dashboard-cust/email/domain" data-no-instant><i class="icon-shopping-cart"></i> Beli Sekarang</a>
                              </div>
                           </div>
                           
                           <!-- Pricing table #4. Class name "price-b" -->
                           <div class="price-b pricel center">
                                 <div class="phead-top b-orange">
                                    <h4>Bronze</h4>
                                 </div>
                                 <div class="phead-bottom">
                                    <p><span class="pst">$</span> 8.00 <span class="psb">/ 1 email / tahun</span></p>
                                 </div>
                                 <div class="arrow-down"></div>
                              <div class="plist">
                                 <ul>
                                    <li>500 MB Space</li>
                                    <li>Free Support Online</li>
                                    <li>Aktivasi Instant</li>
                                 </ul>
                              </div>
                              <div class="pbutton button">  
                                 <!-- button -->
                                 <a href="/accounts/login?next=/dashboard-cust/email/domain" data-no-instant><i class="icon-shopping-cart"></i> Beli Sekarang</a>
                              </div>
                           </div>   
                                 
                           <div class="clearfix"></div>                        
                                                   
                        </div>
                     </div>      
<div class="border"></div>
                     <div class="row">
                     
                        <div class="col-md-6">
                        
                           <!-- Add the class "phighlight" to highlight specific table -->
                           
                           <!-- Pricing table #1. Class name "price-a" -->
                           <div class="price-a pricel center">
                                 <div class="phead-top b-green">
                                    <!-- Title -->
                                    <h4>Silver</h4>
                                 </div>
                                 <div class="phead-bottom">
                                    <!-- Price. Use the syntax correctly. -->
                                    <p><span class="pst">$</span> 15.00 <span class="psb">/ 1 email / tahun</span></p>
                                 </div>
                                 <div class="arrow-down"></div>
                              <div class="plist">
                                 <!-- List -->
                                 <ul>
                                    <li>1 GB Space</li>
                                    <li>Free Support Online</li>
                                    <li>Aktivasi Instant</li>
                                 </ul>
                              </div>
                              <div class="pbutton button">  
                                 <!-- button -->
                                 <a href="/accounts/login?next=/dashboard-cust/email/domain" data-no-instant><i class="icon-shopping-cart"></i> Beli Sekarang</a>
                              </div>
                           </div>
                           
                           <!-- Pricing table #2. Class name "price-b" -->
                           <div class="price-b pricel center">
                                 <div class="phead-top b-purple">
                                    <h4>Gold</h4>
                                 </div>
                                 <div class="phead-bottom">
                                    <p><span class="pst">$</span> 25.00 <span class="psb">/ 1 email / tahun</span></p>
                                 </div>
                                 <div class="arrow-down"></div>
                              <div class="plist">
                                 <ul>
                                    <li>2 GB Space</li>
                                    <li>Free Support Online</li>
                                    <li>Aktivasi Instant</li>
                                 </ul>
                              </div>
                              <div class="pbutton button">  
                                 <!-- button -->
                                 <a href="/accounts/login?next=/dashboard-cust/email/domain" data-no-instant><i class="icon-shopping-cart"></i> Beli Sekarang</a>
                              </div>
                           </div>   
                                 
                           <div class="clearfix"></div>
                        </div>  
                        
                        <div class="col-md-6">
                        
                           <!-- Pricing table #3. Class name "price-a" -->
                           <div class="price-a pricel center">
                                 <div class="phead-top b-blue">
                                    <h4>Platinum</h4>
                                 </div>
                                 <div class="phead-bottom">
                                    <p><span class="pst">$</span> 45.00 <span class="psb">/ 1 email / tahun</span></p>
                                 </div>
                                 <div class="arrow-down"></div>
                              <div class="plist">
                                 <ul>
                                    <li>3 GB Space</li>
                                    <li>Free Support Online</li>
                                    <li>Aktivasi Instant</li>
                                 </ul>
                              </div>
                              <div class="pbutton button">  
                                 <!-- button -->
                                 <a href="/accounts/login?next=/dashboard-cust/email/domain" data-no-instant><i class="icon-shopping-cart"></i> Beli Sekarang</a>
                              </div>
                           </div>
                           
                           <!-- Pricing table #4. Class name "price-b" -->
                           <div class="price-b pricel center">
                                 <div class="phead-top b-orange">
                                    <h4>Diamond</h4>
                                 </div>
                                 <div class="phead-bottom">
                                    <p><span class="pst">$</span> 85.00 <span class="psb">/ 1 email / tahun</span></p>
                                 </div>
                                 <div class="arrow-down"></div>
                              <div class="plist">
                                 <ul>
                                    <li>4 GB Space</li>
                                    <li>Free Support Online</li>
                                    <li>Aktivasi Instant</li>
                                 </ul>
                              </div>
                              <div class="pbutton button">  
                                 <!-- button -->
                                 <a href="/accounts/login?next=/dashboard-cust/email/domain" data-no-instant><i class="icon-shopping-cart"></i> Beli Sekarang</a>
                              </div>
                           </div>   
                                 
                           <div class="clearfix"></div>                        
                                                   
                        </div>
                     </div>         
{% endblock %}