{% extends "bbase.html" %}

{% block slider %}{% endblock %}

{% block content %}
<div class="content">
  <div class="container">

    <h2>Mail Server</h2>
    <p class="big grey">Paket email server sangat cocok untuk perusahaan yang ingin memiliki email pribadi dengan domain sendiri.</p>
    <hr />


        <!-- List of products list. -->
                     
              

                     <div class="prod">
                        <div class="row">
                           <div class="col-md-8 col-sm-8">
                              <!-- Product title -->
                              <h3>Mail Server</h3>
                              <!-- Product para -->
                              <p>Paket email server sangat cocok untuk perusahaan yang ingin memiliki email pribadi dengan domain sendiri. Dengan memiliki email sendiri secara otomatis akan menaikan citra perusahaan anda karena tidak menggunakan domain orang lain/gratisan seperti yahoo, gmail atau layanan email lainnya.
                              </p>
                              <p>
                              Dengan layanan ini anda bisa memiliki alamat email seperti namaanda@perusahaananda.com.</p>
                              <p>
                              Hal ini sangat penting untuk membuktikan keseriusan perusahaan anda.
                              </p>
                              
                              <!-- Product image -->
                              <div class="pimg">
                                 <a href="#"><img src="/media/portal-product/product_mail_server.jpg" alt="" class="img-responsive"/></a>
                              </div>
                           </div>                        
                           <div class="col-md-4 col-sm-4"> 
                              <!-- Product details -->
                              <div class="pdetails">
                                 <div class="ptable">
                                    <!-- Product details with font awesome icon. Don't forget the span class "pull-right". -->
                                    <div class="pline"><i class="icon-gift"></i> Nama Produk <span class="pull-right">Mail Server</span></div>
                                    <div class="pline"><i class="icon-cloud"></i> Installasi <span class="pull-right">Free</span></div>
                                    <div class="pline"><i class="icon-bullhorn"></i> Dukungan Online <span class="pull-right">Free</span></div>
                                    <div class="pline"><i class="icon-cloud"></i> Jumlah User <span class="pull-right">1 User</span></div>
                                    <div class="pline"><i class="icon-globe"></i> Nama Domain (.com) <span class="pull-right">Rp. 100.000 / tahun</span></div>
                                    <div class="pline"><i class="icon-truck"></i> 3 GB <span class="pull-right">Rp. 900.000 / tahun</span></div>
                                    <div class="pline"><i class="icon-truck"></i> 2 GB <span class="pull-right">Rp. 500.000 / tahun</span></div>
                                    <div class="pline"><i class="icon-truck"></i> 1 GB <span class="pull-right">Rp. 300.000 / tahun</span></div>
                                    <div class="pline"><i class="icon-truck"></i> 500 MB <span class="pull-right">Rp. 150.000 / tahun</span></div>
                                    <div class="pline"><i class="icon-truck"></i> 300 MB <span class="pull-right">Rp. 100.000 / tahun</span></div>
                                    <div class="pline"><i class="icon-truck"></i> 200 MB <span class="pull-right">Rp. 50.000 / tahun</span></div>
                                    <div class="pline"><i class="icon-truck"></i> 100 MB <span class="pull-right">Rp. 30.000 / tahun</span></div>
                                    <div class="clearfix"></div>
                                 </div>
                                 <!-- Buttons -->
                                 <div class="button center"><a href="/contact-us"><i class="icon-shopping-cart"></i> Pesan Sekarang</a></div>
                              </div>
                           </div>
                           <div class="clearfix"></div>
                        </div>
                     </div>
{% endblock %}