{% extends "bbase.html" %}

{% block slider %}{% endblock %}

{% block content %}
<div class="github-fork-ribbon-wrapper right">
  <div class="github-fork-ribbon">
    <a href="https://github.com/ayes/siak" target="_blank">Fork me on GitHub</a>
  </div>
</div>
<div class="content">
  <div class="container">

    <div class="row lp">
      <div class="col-md-12">

        <div class="center">
          <h2>Sistem Informasi Akademik</h2>
          <p class="big grey">System Informasi Akademik Menggunakan Python Django</p>

          <!-- Image -->

          <div class="lp-image">
            <a href="#"><img src="/media/portal-labs/siak_labs.jpg" alt="" class="img-responsive"/></a>
          </div>

          <!-- Button -->

          <div class="button">
            <a href="http://siak.bsmsite.com" target="_blank">Coba Sekarang</a> &nbsp; <a href="#"><i class="icon-download"></i> &nbsp;Pelajari Lebih Lanjut</a>
          </div>

          <div class="border"></div>

        </div>

        <div class="row">
          <div class="col-md-6 col-sm-6">

            <h4>Pendahuluan</h4>
            <p>Aplikasi Sistem Informasi Akademik ini bertujuan sebagai bahan pembelajaran pemrograman Python menggunakan Framework Django. Sehingga hadirnya Aplikasi Sistem Informasi Akademik ini kedepannya kita dapat membuat aplikasi lainnya dengan memahami konsep sederhana dari aplikasi ini.</p>

            <hr />

            <h4>Django Framework</h4>
            <p>
              Django adalah kerangka aplikasi web yang ditulis dengan bahasa pemrograman Python. Django Framework digunakan untuk memudahkan programmer dalam membangun website yang lebih baik dan lebih cepat dengan sedikit code. jika anda dikejar waktu maka django framework adalah pilihan yang sempurna.
            </p>

            <hr />          
          </div>

          <div class="col-md-6 col-sm-6">

            <h4>Python</h4>
            <p>Python adalah bahasa pemrograman interpretatif multiguna. Python diklaim sebagai bahasa yang menggabungkan kapabilitas, kemampuan, dengan sintaksis kode yang sangat jelas, dan dilengkapi dengan fungsionalitas pustaka standar yang besar serta komprehensif.
            </p>

            <hr />

            <h4>Sistem Informasi Akademik</h4>
            <p>Sistem Informasi Akademik adalah suatu sistem yang dirancang untuk keperluan pengeloaan data-data Akademik dengan penerapan teknologi komputer.
              sehingga seluruh proses kegiatan akademik dapat terkelola menjadi informasi yang bermanfaat dalam pengelolaan manajemen perguruan tinggi.
            </p>

            <hr /> 
          </div>
          
        </div>

      </div>
    </div>
{% endblock %}