{% extends "bbase.html" %}

{% block slider %}{% endblock %}

{% block content %}
<div class="content">
  <div class="container">

  <h2>Tentang Kami</h2>
  <p class="big grey">Seseorang Memulai Hari Ini.</p>
  <hr />

  
  <!-- About Us -->
   <div class="aboutus">
               <!-- Staff #1 -->
               <div class="row">
                  <div class="col-md-3 col-sm-3">
                     
                       <!-- Staff pic -->
                       <div class="pic">
                          <img src="/media/portal-source/fan.jpg" alt="" class="img-responsive" />
                       </div>
                     
                   </div>
                     <div class="col-md-9 col-sm-9">
                    
                       <div class="sinfo">
                          <!-- Name -->
                          <h4>Irfan Mahfudz Guntur, S.Kom</h4>
                          <!-- Designation -->
                          <h6 class="grey">CEO & Founder</h6>
                          <!-- Social media links. Replace # with profile links -->
                          <div class="social">
                             <a href="https://www.facebook.com/pages/BaseSystem-Management/132215933462634" class="tip" data-original-title="Facebook"><i class="icon-facebook facebook"></i></a>
                             <a href="https://twitter.com/exor14" target="_blank" class="tip" data-original-title="Twitter"><i class="icon-twitter twitter"></i></a>
                             <a href="https://plus.google.com/101835897323506072586" target="_blank" class="tip" data-original-title="Google Plus"><i class="icon-google-plus google-plus"></i></a>
                             <a href="http://id.linkedin.com/pub/irfan-mahfudz-guntur/4b/64/b01/" target="_blank" class="tip" data-original-title="LinkedIn"><i class="icon-linkedin linkedin"></i></a>
                          </div>
                       </div>
                        <!-- Small para -->
                     <p class="ainfo">Irfan Mahfudz Guntur ; 16 Februari ;  Samarinda - Kalimantan Timur ; masing-masing posisi pekerjaan memberikan tanggung jawab khusus dan teknologi yang digunakan ; Dasar pengembangan software, software debugging, dokumentasi perangkat lunak, pengujian software, Membuat produk-produk perangkat lunak berbasis web ; PHP, MySQL, Python, Javascript, CSS, HTML5, Linux Server, Networking. "Seseorang memulai hari ini"</p>
                     <div class="button"><a href="/contact-us">Hubungi Saya</a></div>
                  

                     <div class="clearfix"></div>
                  </div>
                  
               </div>
               <!-- Staff #2 -->

   </div>
{% endblock %}