{% extends "bbase.html" %}

{% block slider %}{% endblock %}

{% block media %}
  <title>Ratu Dewi - Cintamu Oplosan</title>
  <meta name="description" content="Download single terbaru Ratu Dewi Cintamu Oplosan">
  <meta name="keywords" content="">
  <link rel="image_src" href="/media/portal-source/ratudewi.jpg" />
{% endblock %}

{% block templatecolor %}red.css{% endblock %}

{% block content %}
<div class="github-fork-ribbon-wrapper right">
  <div class="github-fork-ribbon">
    <a href="#">{{ dl.count }} x Download</a>
  </div>
</div>
<div class="content">
  <div class="container">

    <div class="row lp">
      <div class="col-md-12">

        <div class="center">
          <h2>Ratu Dewi</h2>
          <p class="big grey">Single Terbaru "Cintamu Oplosan"</p>
          <div class="button">
            <a href="/single-download" data-no-instant><i class="icon-download"></i> &nbsp;Download Cintamu Oplosan</a>
          </div>

          <!-- Image -->

          <div class="lp-image">
            <a href="#"><img src="/media/portal-source/ratudewi.jpg" alt="" class="img-responsive"/></a>
          </div>

          <!-- Button -->
          <div class="button">
            <a href="/single-download" data-no-instant><i class="icon-download"></i> &nbsp;Download Cintamu Oplosan</a>
          </div>

         

        </div>

        

      </div>
    </div>
{% endblock %}