{% extends "userdash_bbase.html" %}

{% block content %}
	<div class="row">
		<div class="span4"><h2>Hubungi Pusat Bantuan</h2></div>
		<div class="span8 text-right">
			<a href="/dashboard-cust/add-support-ticket" class="btn btn-large btn-secondary">Buat Tiket Baru</a>
		</div>
	</div>

	<hr />
	<form action="/dashboard-cust/add-support-ticket" method="post">
	{{ form.as_p }}
	{% csrf_token %}
		<div class="form-actions">
		<button type="submit" class="btn btn-primary btn-large"><i class="fa fa-star"></i> Kirim Tiket</button>
		</div>
	</form>
{% endblock %}