{% extends "userdash_bbase.html" %}

{% block content %}
	<div class="row">
		<div class="span4"><h2>Hubungi Pusat Bantuan</h2></div>
		<div class="span8 text-right">
			<a href="/dashboard-cust/add-support-ticket" class="btn btn-large btn-secondary">Buat Tiket Baru</a>
		</div>
	</div>

	<hr />

	<section id="tables">
		<table class="table table-bordered table-striped table-highlight">
			<thead>
				<tr>
					<th>Tiket</th>
				</tr>
			</thead>
			
			<tbody>
				{% for usr in support %}
					<tr>
						<td><a href="/dashboard-cust/view-support-ticket/{{ usr.id }}">#{{ usr.id }} {{ usr.subject }}</a></td>
					</tr>
					{% empty %}
					<tr>
						<td colspan="3">Belum ada data yang tersedia</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</section>
{% endblock %}