{% extends "userdash_bbase.html" %}

{% load gravatar %}

{% block content %}
	<div class="row">
		<div class="span12">
			<h2>Tiket Anda</h2>
			<span>#{{ ticket.id }} {{ ticket.subject }}</span>
		</div>
	</div>
	<hr />
	<div class="row">
		<div class="span12">
			<form action="/dashboard-cust/view-support-ticket/{{ ticket.id }}" method="post">
			<div class="form-actions">
				<input type="hidden" name="idsupport" value="{{ ticket.id }}">
			{{ form.as_p}}
			{% csrf_token %}
			<button type="submit" class="btn btn-primary btn-large"><i class="fa fa-star"></i> Balas</button>
			</div>
			</form>
		</div>
	</div>
	<div class="row">
			<div class="span12">	
					{% for i in support %}
					<p>[.] <img src="{% gravatar_for_user i.user 40 g %}" alt="{{ i.user }}" title="{{ i.user }}" /> {{ i.user }}</p>
						<p><pre>{{ i.body }}</pre></p>		
					{% endfor %}
			</div>
{% endblock %}